.btn {
    @apply font-bold py-2 px-4 rounded bg-indigo-500 hover:bg-indigo-700 text-white hover:text-neutral-50; 
}

.btn-menu {
    /* @apply  absolute z-1000 right-3 bottom-3 bg-white rounded-4xl p-3; */
    @apply p-3 bg-indigo-200 rounded-full box-content h-10 w-10 shadow-lg;
}

.btn_group {
    z-index: 9999;
    position: absolute;
    bottom: 12px;
    width: 100%;
    gap: 6px;
    justify-content: center;
    display: flex;
}