.btn {
    @apply font-bold py-2 px-5 rounded focus:outline-2 focus:outline-offset-2 transition duration-200; 
}

.btn-primary {
    @apply bg-indigo-500 border-2 border-indigo-500 hover:border-indigo-700 hover:bg-indigo-700 text-white hover:text-neutral-50 focus:outline-indigo-500 disabled:bg-indigo-300 disabled:border-indigo-300 hover:shadow-lg shadow-indigo-500/50;

    &.--loading {
        @apply animate-pulse bg-indigo-300 border-indigo-300;
    }
}

.btn-outline {
    @apply text-indigo-500 border-2 hover:border-indigo-700 hover:text-indigo-700 hover:shadow-lg shadow-indigo-200/50;
}

.btn-reset {
    @apply bg-white;
}

.btn-actions__wrapper {     
    @apply flex flex-wrap gap-2 my-5;
}

.btn-menu {
    @apply p-3 bg-indigo-200 border-2 border-indigo-200 rounded-full box-content h-10 w-10 shadow-lg focus:outline-indigo-400 focus:outline-2 focus:outline-offset-2;
}

.btn_group {
    z-index: 9999;
    position: absolute;
    bottom: 12px;
    width: 100%;
    gap: 6px;
    justify-content: center;
}

