.wrapper {
    display: flex;
    flex-direction: row;

    .filter-menu {
        flex: 1;
    }

    #finlandMap {
        flex: 2;
    }
}

.filter-menu {
    max-height: 100vh;
    overflow: scroll;
}