@import "tailwindcss";
@plugin "@iconify/tailwind4";
@import "./styles/buttons";
@import "./styles/category";
@import "./styles/icons";
@import "./styles/filter-menu";
@import "./styles/species-dropdown";
@import "./styles/current-species";
@import "./styles/toast-notification";
@import "./styles/headlines";
@import "./styles/finlandmap";
@import "./styles/scrollbar";

@plugin "@iconify/tailwind4" {
  prefix: "iconify";
  scale: 1.2;
}

#finlandMap {
  height: 100vh;
  margin: 0 auto;
}

body {
  height: 100%;
  overflow: clip;
}

@theme {
  --animate-toast: toast 700ms 2;

  @keyframes toast {
    0% {
        transform: translateY(0);
    }

    5% {
      transform: translateY(2px);
    }

    40% {
      transform: translateY(-5px);
    }

    70% {
      transform: translateY(-10px)
    }
  }
}