@import "tailwindcss";
@plugin "@iconify/tailwind4";
@import "./styles/buttons";
@import "./styles/category";
@import "./styles/icons";
@import "./styles/filter-menu";
@import "./styles/species-dropdown";
@import "./styles/current-species";
@import "./styles/toast-notification";
@import "./styles/headlines";
@import "./styles/finlandmap";
@import "./styles/scrollbar";

@plugin "@iconify/tailwind4" {
  prefix: "iconify";
  scale: 1.2;
}

/* 
plan is to make the menu expandable on command 
*/

#finlandMap {
  height: 100vh;

  margin: 0 auto;
}

body {
  height: 100%;
  overflow: clip;
}
